
.information-screen {
	overflow-x: hidden;
	min-height: 390px;
	@media (max-width: $laptop) {
		min-height: 220px;
	}
	@media (max-width: $laptop-m) {
		min-height: 150px;
	}
	@media (max-width: $mobile) {
		min-height: 100px;
		background: $green;
	}
	a {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 120px;
		line-height: 146px;
		font-weight: 600;
		width: 100%;
		white-space: nowrap;
		color: #F2F2F2;
		text-align: center;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;		
		width: 100%;
		margin: 0 auto;
		cursor: none;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
        @media only screen and (max-width: $laptop) {
            font-size: 100px;
			line-height: 126px;
        }
        @media only screen and (max-width: $laptop-m) {
            font-size: 70px;
			line-height: 80px;
        }
        @media only screen and (max-width: $table) {
            font-size: 40px;
			line-height: 50px;
        }
        @media only screen and (max-width: $mobile) {
            font-size: 16px;
			line-height: 19px; 
			
			span {
				&:nth-child(1) {
					display: none;
					&+span {
						display: block;
						text-align: center;
						color: #fff;
					}
				}
			}
        }
		span + span {
			display: none;
		}
	}
	&:hover {
		a {
			color: $black;
		}
	}
}