.main__navigation {
	width: 100%;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #E6E8EB;
		z-index: 0;
	}
	.s-container {
		padding: 0;
	}
}
.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	height: 65px;
	overflow-x: auto;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		height: 0;
		width: 0;
		background: transparent;
	}
	li {
		text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex: 0 0 20%;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #9F9F9F;
		position: relative;
		letter-spacing: 0.1em;
		cursor: pointer;
		white-space: nowrap;
		&:not(:last-child) {
			margin-right: 35px;
			@media (max-width: $mobile) {
				margin-right: 25px;
			}
		}
		&:hover {
			color: $black;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			&::after {
				width: 100%;
			}
		}
		&::after {
			content: "";
			width: 0;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: $black;
			-webkit-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			z-index: 2;
		}
	}
	li.active {
		color: $black;
		&::after {
			width: 100%;
		}
	}
}
.insights-item--title {
	@media (max-width: $table) {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	@media (max-width: $mobile) {
		font-size: 20px;
		line-height: 25px;
	}
}