.subscribe-screen {
    padding: 100px 0;
    background: $green;
    border-bottom: 1px solid #fff;
    @media only screen and (max-width: $laptop) {
        padding: 80px 0;
    }
    @media only screen and (max-width: $laptop-s) {
        padding: 60px 0;
    }
    @media only screen and (max-width: $table) {
        padding: 50px 0;
    }
}
.subscribe-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.subscribe-title {
    color: #fff;
    margin-bottom: 0;
    flex: 0 0 42%;
    span {
        color: #E5EEC1;
    }
    @media (max-width: $laptop-m) {
        flex: 0 0 100%;
    }
}
.subscribe-input {
    max-width: 700px;
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    @media (max-width: $laptop-m) {
        flex: 0 0 100%;
        margin: 50px 0 0;
    }
    @media (max-width: $table-s) {
        height: unset;
    }
    input {
        height: 100%;
        flex: 0 0 58%;
        border: 1px solid #77A59D;
        border-radius: 3px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding: 0 30px;
        background: transparent;
        color: #77A59D;  
        height: 60px;  
        @media (max-width: $table-s) {
            flex: 0 0 100%;  
            padding: 0 15px;      
        }
    }
    input::placeholder { 
        color: #99BBB5;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        letter-spacing: .1em;
    }
    input::-ms-input-placeholder { 
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        letter-spacing: .1em;
        color: #99BBB5;
    }
    input:-ms-input-placeholder { 
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        letter-spacing: .1em;
        color: #99BBB5;
    }
    .subscribe-btn {
        font-family: 'Montserrat', sans-serif;
        height: 100%;
        max-width: unset;
        flex: 0 0 42%;
        background: #fff;
        border: none;
        font-size: 16px;
        line-height: 24px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;  
        height: 60px; 
        @media (max-width: $table) {
            font-size: 14px;
            line-height: 20px;            
        }
        @media (max-width: $table-s) {
            flex: 0 0 100%;
        }
    }
}
