.upblock-content {
    &.upblock-separate {
        margin-bottom: 0;
    }
	margin: 0 auto 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
    @media only screen and (max-width: $laptop) {
        margin: 0 0 80px;
    }
    @media only screen and (max-width: $table) {
        -webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
        margin: 0 0 60px;
    }
    @media only screen and (max-width: $mobile) {
        margin: 0 0 40px;
    }
    &.upblock-content-mm {
        &>div {
            &:nth-child(1) {
                flex: 0 0 50%;
            }
            &:nth-child(2) {
                flex: 0 0 40%;
            }
        }
    }
	&>div {
		flex: 0 0 47%;
	}
}
.upblock-subtitle {
    font-size: 30px;
    line-height: 40px;
	@media (max-width: $laptop) {
        font-size: 25px;
        line-height: 35px;
	}
	@media (max-width: $table) {
        font-size: 20px;
        line-height: 30px;
	}
}
.max-md {
    max-width: 490px;
}
.txt-g {
    color: #262626;
}
.upblock-left--title {
	margin-bottom: 0;
	@media (max-width: $table) {
		margin-bottom: 30px;
	}
}
.upblock-text {
	font-weight: 500;
	max-width: 519px;
    p:not(:last-child) {
        margin-bottom: 20px;
        @media (max-width: $mobile) {
            margin-bottom: 10px;
        }
    }
}


//
.upblock-content--inner {
    ul {
        margin-top: 0;
    }
    li {
        color: #fff;
    }
    .span-round {
        border-color:#3C3C3C;
        &>span {
            border-color:#7D7D7D;
            &>span {
                background: #fff;
            }
        }
    }
}

.span-round {
	border: 1px solid #E1E5E7;
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	* {
		border-radius: 50%;
	}
	&>span {
		border: 1px solid #B3C3CB;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		&>span {
			background: #547A8E;
			width: 10px;
			height: 10px;
		}
	}
	@media (max-width: $laptop) {
		margin-right: 18px;
	}
	@media (max-width: $mobile) {
		margin-right: 10px;
	}
}