

.fc__screen {
	&::after {
		background: url(../img/fcfqm.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
.approach__frame {
	overflow-x: hidden;
}
.approach-text {
	p {
		&:first-child {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 40px;
            @media only screen and (max-width: $mobile) {
                margin-bottom: 20px;
				font-size: 16px;
				line-height: 24px;
            }
		}
	}
}
.quality-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 547px;
    @media only screen and (max-width: $laptop-s) {
        height: 350px;
    }
    @media only screen and (max-width: $table) {
        -webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: unset;
    }
}
.quality-title {
	padding-top: 120px;
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 57%;
	flex: 0 0 57%;
	padding-right: 20px;
	.section-title {
		max-width: 594px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background-color: #F2F2F2;
		z-index: -1;
	}
    @media only screen and (max-width: $laptop-s) {
        padding-top: 60px;
    }
    @media only screen and (max-width: $mobile) {
        padding: 20px 0;
    }
}
.quality-text {
	padding-top: 120px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
    @media only screen and (max-width: $laptop-s) {
        padding-top: 60px;
    }
    @media only screen and (max-width: $table) {
        padding: 40px 0;
    }
    @media only screen and (max-width: $mobile) {
        padding: 20px 0;
    }
}
.quality-text--inner {
	max-width: 386px;
	p {
		&:not(:last-child) {
			margin-bottom: 20px;
            @media only screen and (max-width: $table) {
                margin-bottom: 10px;
            }
		}
		&:nth-child(1) {
			color: #626262;
		}
		&:nth-child(2) {
			color: #626262;
		}
	}
}
.quality__screen {
	background: url(../img/quality.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
}
.quality-wrapper {
	max-width: 490px;
}
.quality-wrapper--text {
	p {
		&:not(:last-child) {
			margin-bottom: 30px;
            @media only screen and (max-width: $laptop) {
                margin-bottom: 20px;
            }
            @media only screen and (max-width: $laptop-s) {
                margin-bottom: 15px;
            }
		}
	}
}

.fcfqm_describe-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
    @media only screen and (max-width: $table-s) {
        -webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
    }
}
.fcfqm_describe-inner {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
    @media only screen and (max-width: $desk) {
        -webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
    }
}
.fcfqm_describe-frame {
	position: relative;
	&::after {
		content: "";
		width: 30%;
		height: 60%;
		position: absolute;
		top: 0;
		right: 0;
		background: #F2F2F2;
		z-index: -1;
        @media only screen and (max-width: $table) {
            width: 30%;
			height: 30%;
			top: 10%;
        }
        @media only screen and (max-width: $mobile) {
            top: 20%;
        }
	}
}
.fcfqm_describe-title {
	padding-top: 20px;
	max-width: 552px;
}
.fcfqm_describe-image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	img {
		width: 100%;
	}
    @media only screen and (max-width: $desk) {
        -webkit-box-flex: 0;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
    }
    @media only screen and (max-width: $table-s) {
        max-width: 400px;
		margin-bottom: 30px;
    }
}
.fcfqm_describe-subtitle {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 50px;
	span {
		color: $green;
	}
    @media only screen and (max-width: $laptop) {
        font-size: 22px;
		line-height: 32px;
		margin-bottom: 25px;
    }
    @media only screen and (max-width: $laptop-s) {
        margin-bottom: 20px;
    }
    @media only screen and (max-width: $mobile) {
        font-size: 18px;
		line-height: 27px;
		margin-bottom: 20px;
    }
}
.fcfqm_describe-content {
	&:not(:last-child) {
		margin-bottom: 78px;
        @media only screen and (max-width: $laptop-s) {
            margin-bottom: 40px;
        }
        @media only screen and (max-width: $mobile) {
            margin-bottom: 30px;
        }
	}
}
.fcfqm_describe-text {
	p {
		&:not(:last-child) {
			margin-bottom: 30px;
            @media only screen and (max-width: $laptop-s) {
                margin-bottom: 15px;
            }
		}
		&::last-child {
			color: #626262;
		}
	}
}